.note-input
    margin-top: .5em
    padding: 0.2em
    border-radius: 0.2rem
    border-left: 0.2rem solid #444444

    .note-name
        color: #d4d4d4
        font-size: 0.9rem

    .note-select
        float: right
        display: block
        background-color: #444343
        color: #d4d4d4
        font-size: 0.8rem

    .rating-second-line
        display: flex
        width: 100%

        .rating-infos-btn
            padding: 5px 4px 0px 4px
            border-radius: 60%
    
        .rating-infos-btn:hover
            background-color: #35331a
            cursor: pointer

        .note-comment
            width: 100%
            box-sizing: border-box
            padding: 0.1rem
            margin-left: 5%
            border: 1px solid #292929
            background-color: #444343
            opacity: 0.8
            color: #d4d4d4
            font-size: 0.8rem

.highlight
    background-color: #35331a
    transition: background-color 0.2s ease
